body
    min-height: 100vh
    background: rgb(2,0,36)
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%)
    display: flex
    justify-content: center
    align-items: center

.auth
    background-color: #fff
    border-radius: .25rem
    padding: .75rem
    display: flex
    align-items: center
    justify-content: center
    > *
        margin: 0
    > .auth__form
        display: flex
        flex-direction: column
        > *
            margin: .5rem